.NumberPokemonsList p {
  display: inline;
  margin: 10px;
  caret-color: transparent;
}

.Navigation button {
  width: 80px;
  margin: 5px;
  cursor: pointer;
  caret-color: transparent;
}

.Navigation {
  margin: 20px auto;
}

.Navigation button:hover {
  color: rgb(230, 59, 59);
  box-shadow: 1px 3px 3px #ccc;
}
