.PokemonsList .Arr {
  margin: 50px;
}
.PokemonsList {
  margin-top: 20px;
}

.Arr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.PokemonsList .Tag {
  height: 20px;
}

.PokemonsList .Tag {
  background-color: rgb(155, 34, 34);
  color: rgb(229, 230, 231);
  margin: 0 auto;
  width: 90px;
  margin-top: 20px;
}
.PokemonsList .Tag span {
  position: relative;
  top: -2px;
}

.PokemonsList .Tag span::after {
  content: "x";
  position: relative;
  top: -2px;
  left: 6px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .Arr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .Arr {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .Arr {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .Arr {
    grid-template-columns: 1fr;
  }
}
