.PokemonsList .Arr {
  margin: 50px;
}
.PokemonsList {
  margin-top: 20px;
}
.Found {
  height: 20px;
  margin: 5px;
}
.Found p {
  margin: 0px;
}

.Arr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
  .Arr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .Arr {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .Arr {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .Arr {
    grid-template-columns: 1fr;
  }
}
